/**{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/
.navbar-brand{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-font{
    opacity: 100%;
    position: relative;
    /* 文字大写 */
    text-transform: uppercase;
    color: #ffffff;
    /* 1rem=16px */
    font-size: 20px;
}
.logo-font::after{
    content: '后台管理';
    position: absolute;
    top: 0;
    left: 0;
    /* 文字透明色 */
    color: transparent;
    background-image: linear-gradient(to right,
    #c23616,#192a56,#00d2d3,yellow,
    #6d214f,#2e86de,#4cd137,#e84118);
    /* 背景绘制区域 当值为text 的时候 代表设置了文字的镂空效果 但是前提必须是文字颜色为透明色 */
    background-clip: text;
    /* 谷歌浏览器的私有属性 */
    -webkit-background-clip: text;
    /* 利用裁切来创建元素的可显示区域 circle表示创建了圆形 100px表示圆形的直径,0%和50%表示圆形的圆心 圆形的直径和圆形的圆心利用at关键字隔开 */
    clip-path: circle(20px at 0% 50%);
    /* 动画  名称 时长 infinite 表示无限次播放 */
    animation: move 5s infinite;
}
/* 下面设置圆形移动效果 */
@keyframes move{
    0%{
        clip-path: circle(20px at 0% 50%);
    }
    50%{
        clip-path: circle(20px at 100% 50%);
    }
    100%{
        clip-path: circle(20px at 0% 50%);
    }
}